.idea
.azureml
aptos_data
artifacts
experiment-output

__pycache__/
tmp-database/
trained_models
airtable/export/dataset_info.csv
airtable/db_import/service/airtable_sync_sqlite.db
airtable/db_import/airtable_sync_sqlite.db
airtable/db_import/airtable_synchronizer.log
airtable/db_import/airtable_synchronizer.log.*
airtable/psql_backup
airtable/db_import/pics
airtable/db_import/temp
airtable/db_import/synchronizer_config
airtable/test.py
airtable/db_import/synchronizer_config.json
